body {
    margin: 0;
    font-family: 'B612 Mono', monospace;
}

.flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-time {
    height: 60vh;
    align-items: flex-end;
}

.flex-date {
    height: 40vh;
    align-items: flex-start;
}

#time {
    font-size: 16vw;
}

#date {
    font-size: 10vw;
}